

html, body {
    background-color: rgb(13, 73, 83);
    color: white;
    width: 95%;
    margin: 50px auto;
    max-width: 1024px;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-family: 'Secular One', sans-serif;
}

button {
    margin: 10px;
    padding: 5px;
    height: 45px;
    width: 135px;
    border-radius: 10px;
    font-size: 0.9em;
    color: black;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    height: 600px;
    height: auto;
}

#myCard {
    margin-bottom: 50px;
    text-align: center;
}

#info-wrapper {
    padding: 40px;
    border: 1px solid black;
    box-shadow: 2px 0 8px 2px black;
}

.info-headings {
    margin: 0 auto;
}

#basic-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#info-header {
    font-weight: bold;
}

.sub-headers {
    text-align: center;
    margin-top: 50px;
}

.credentials {
    padding-right: 20px;
}

.school {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid white;
    box-shadow: 2px 0 8px 2px white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.school-info {
    margin-top: 0;
    border-left: 1px solid white;
    padding-left: 50px;
    text-align: left;
}

    .school-info h3 {
        margin: 0;
    }

.expected {
    margin: 0;
}

#expCred {
    margin-top: 15px;
}

#contact span {
    color: rgb(45, 12, 136);
}

#contact-form {
    text-align: left;
    padding: 30px;
    border: 1px solid white;
    box-shadow: 2px 0 8px 2px white;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

label {
    margin: 10px;
}

input, textarea {
    margin: 10px;
    padding: 5px 10px;
    font-size: 1em;
    max-width: 700px;
}

    input:focus,
    input:hover,
    textarea:focus,
    textarea:hover,
    button:focus,
    button:hover {
        outline: 2px solid black;
    }

#subject {
    margin: 10px 0;
    padding: 0 10px;
}

#form-button {
    grid-column: 2/3;
    margin: 10px 0;
    text-align: right;
}

input[type="submit"],
input[type="reset"] {
    width: 150px;
    background-color: white;
    color: black;
}

#rate {
    width: 150px;
}

#info-wrapper:hover,
.school:hover,
#contact-form:hover {
    border: 1px solid black;
    box-shadow: 2px 0 8px 2px black;
}

@media only screen and (min-width: 800px) and (min-device-width: 800px) {

    html, body {
        font-size: 1.1em;
    }

    #info-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 85px;
    }

    .info-headings {
        height: auto;
        max-height: 200px;
    }

    #basic-info-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}